<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
	<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

	<title>Motociclismo</title>
</head>
<body>

<div>
	<nav class="navbar navbar-expand-lg navbar-light" style="background-color:   #FF5733 ;">
  		<div class="container-fluid">
    		<a class="navbar-brand">Salvador:</a>
    		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      			<span class="navbar-toggler-icon"></span>
    		</button>
    	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      		<div class="navbar-nav">
        		<a class="nav-link active" aria-current="page" href="http://localhost:5000/">Blibiografia</a>
        		<a class="nav-link" href="http://localhost:5000/isc">Ingenieria Sistemas Computacionales</a>
        		<a class="nav-link" href="http://localhost:5000/motos">Motociclismo</a>
            <a class="nav-link" href="http://localhost:5000/tatuajes">Tatuajes</a>
      		</div>
    	</div>
  		</div>
	</nav>
<div class="container-md">
      <h1 class="alert alert-primary" role="alert">Motociclismo</h1>
    </div>
</div><br>

<div class="text-center">
  <img src="{{url_for('static', filename='img/moto.jpg')}}" width="500" height="300">
</div><br>

<div>
	<center>
	<font face="Product Sans,arial,verdana" size="5" >
		<p class="text-break">El motociclismo deportivo es el uso deportivo de la motocicleta en varias modalidades.

El objetivo de una carrera de velocidad consiste en recorrer cierta distancia (o ir de un sitio hacia otro), en el menor tiempo posible; o recorrer la mayor distancia en un tiempo predefinido; o recorrer una distancia en un tiempo preestablecido sin sobrepasar ese tiempo, modo en el que gana el corredor que se acerca más al tiempo predefinido. Dichas carreras pueden durar desde pocos segundos o minutos, como es el caso de los arrancones, las carreras de motocross y óvalos de tierra; hasta varias horas o días, como en las carreras de resistencia y el rally raid. En cambio, el trial consiste en pasar una serie de obstáculos en un determinado tiempo sin cometer faltas; y en el motociclismo estilo libre donde se realizan acrobacias en el aire para que el jurado otorgue la mayor cantidad de puntos. 
		</p>
	</font>
	</center>
</div>
</body>

<footer class="bg-light text-center text-lg-start">
  <div class="text-center p-3" style="background-color:  #FF5733 ;">
    © 2021 Derechos reservados:
    <a class="text-dark">Salvador</a>
  </div>
</footer>
</center>
</html>